@import url(./base.css);


/* Variable collection */
:root {
    /* Mode 1 */
    /* color */
    --black-hover: #00000033;
    --button-ghost-backgroundcolor: #00000000;
    --dba-blue: #4b66d2;
    --dba-darkblue: #263051;
    --dba-darkgray: #808080;
    --dba-lightblue: #deddf0;
    --dba-tertiary-hover: hsl(243, 39%, 80%);
    --dba-lightgray: #F7F7F7;
    --dba-lightred: #f49fb2;
    --dba-primary: #2e30bd;
    --dba-primary-hover: hsl(239, 61%, 36%);
    --dba-red: #e61f4d;
    --dba-red-hover: hsl(346, 80%, 41%);
    --dba-white: #ffffff;
    --white-hover: #cccccc;
    /* number */
    --button-border-active-stroke-weight: 0.1875rem;
    --button-border-radius: 2.5rem;
    --input-field-border-weight: 2px;
    --hover-fade-duration: 0.5s;
  }


  /* Variable collection */
:root {
  /* Mode 2 */
  /* color */
  --black-hover: #00000033;
  --button-ghost-backgroundcolor: #00000000;
  --dba-blue-100: #deddf0;
  --dba-blue-200: #4b66d2;
  --dba-blue-300: #263051;
  --dba-blue-primary: #2e30bd;
  --dba-gray-100: #f7f7f7;
  --dba-gray-200: #808080;
  --dba-red-100: #f49fb2;
  --dba-red-200: #e61f4d;
  --dba-white: #ffffff;
  --white-hover: #cccccc;
  /* number */
  --button-border-active-stroke-weight: 0.1875rem;
  --button-border-radius: 2.5rem;
}